/* Pagination */

.pagination {
    margin: 16px 0 8px;
}

.pagination ul li a.no-page,
.pagination ul li a {
    background-color: #333;
    padding: 6px 10px;
    border: none;
    font-size: 16px;
}

.pagination ul li a.active,
.pagination ul li a:hover,
.pagination ul li a.no-page:hover {
    background-color: #666;
    padding: 6px 10px;
}

.pagination ul li a.no-page > span {
    text-decoration: none;
}

.pagination ul li.no-page a:hover {
    background-color: transparent;
}

.pagination ul li.no-page a {
    padding: 7px 6px;
}
