@-moz-document domain("rumble.com") {

	:root {

		--logo-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='140' height='35' fill='none'%3E%3Cpath fill='%23fff' d='M42.2 25.77v-7.86c0-5.22 3.72-7.73 8.14-7.73h2.13v4.04l-1.88.02c-1.24 0-2.2.36-2.9 1.07-.69.7-1.03 1.78-1.03 3.22v7.25Zm12.17-15.6h4.5v8.16c0 .74.07 1.37.21 1.88.15.5.36.9.63 1.22.28.3.62.51 1.01.65.4.13.84.19 1.34.19a4.26 4.26 0 0 0 1.33-.2c.4-.13.73-.34 1-.64.28-.31.5-.72.64-1.22s.22-1.13.22-1.88v-8.15h4.5v8.3a10 10 0 0 1-.59 3.63 6.3 6.3 0 0 1-1.6 2.4 6.34 6.34 0 0 1-2.45 1.34c-.93.28-1.95.42-3.05.42s-2.13-.14-3.06-.42a6.34 6.34 0 0 1-2.44-1.34 6.3 6.3 0 0 1-1.61-2.4c-.39-1-.58-2.2-.58-3.63Zm27.57 7.22v8.4h4.52v-8.4c.06-2 1-3.7 3.05-3.7 1.93 0 2.67 2.1 2.67 3.8v8.3h4.5V17.9c0-4.88-2.45-8.23-7.03-8.23-2.53 0-4.27.91-5.45 2.14a7.21 7.21 0 0 0-5.45-2.14c-4.59 0-7.03 3.35-7.03 8.23v7.87h4.5v-8.3c0-1.7.74-3.8 2.67-3.8 2.06 0 2.99 1.7 3.05 3.7Zm16.59.08c0 5.62 3.32 8.83 8.72 8.83a8.2 8.2 0 0 0 3.32-.65 7.6 7.6 0 0 0 2.54-1.78 7.99 7.99 0 0 0 1.62-2.65 9.2 9.2 0 0 0 .57-3.24 9.3 9.3 0 0 0-.55-3.22 7.87 7.87 0 0 0-1.58-2.64 7.5 7.5 0 0 0-2.51-1.8 8.07 8.07 0 0 0-3.34-.65c-.9 0-1.72.13-2.43.39a7.2 7.2 0 0 0-1.87 1V4.58h-4.49Zm11.97-1.25c.21.53.32 1.1.32 1.75 0 .65-.1 1.24-.32 1.77a4.17 4.17 0 0 1-.87 1.37 3.74 3.74 0 0 1-1.28.89 4.1 4.1 0 0 1-3.12 0 4.06 4.06 0 0 1-1.27-.87 4.32 4.32 0 0 1-.86-1.37 5.06 5.06 0 0 1-.3-1.8 4.58 4.58 0 0 1 1.17-3.1 3.76 3.76 0 0 1 1.28-.86 3.95 3.95 0 0 1 1.57-.32 3.87 3.87 0 0 1 3.68 2.54ZM117 4.58h4.5v21.2H117Zm6.82 10.2a8.5 8.5 0 0 0-.61 3.21 8.57 8.57 0 0 0 .6 3.22 8.25 8.25 0 0 0 1.74 2.63 8.16 8.16 0 0 0 2.63 1.8c1.03.42 2.16.64 3.38.64a8.3 8.3 0 0 0 2.89-.47 8.37 8.37 0 0 0 2.32-1.23 7.85 7.85 0 0 0 1.68-1.74 7.29 7.29 0 0 0 1.02-2.02h-4.85c-.27.48-.66.88-1.19 1.19a3.7 3.7 0 0 1-3.11.24 4.44 4.44 0 0 1-1.15-.63 4.48 4.48 0 0 1-1.5-2.33h12.19a9.92 9.92 0 0 0 .11-1.3 8.32 8.32 0 0 0-.62-3.22 7.93 7.93 0 0 0-4.38-4.42 8.52 8.52 0 0 0-3.4-.66c-1.23 0-2.36.22-3.39.66a8.12 8.12 0 0 0-2.65 1.78 8 8 0 0 0-1.71 2.64Zm5.4-.67a3.79 3.79 0 0 1 2.37-.74c.91 0 1.67.25 2.28.76.6.49 1.05 1.13 1.33 1.92h-7.4c.3-.8.77-1.45 1.41-1.94Z'/%3E%3Cpath fill='%2385C742' d='M23.3 19.5c1.2-.95 1.2-2.8 0-3.78a27.45 27.45 0 0 0-5.58-3.59c-1.38-.66-2.92.26-3.14 1.83-.34 2.4-.4 4.82-.18 7.12.15 1.59 1.67 2.54 3.07 1.93a25.4 25.4 0 0 0 5.83-3.5Zm8.97-6.99a7.57 7.57 0 0 1 .02 10.19 33.84 33.84 0 0 1-16.96 10.13 6.62 6.62 0 0 1-7.98-4.63c-1.97-6.73-1.68-14.34.22-21.1 1-3.55 4.34-5.78 7.78-4.96 6.37 1.52 12.35 5.43 16.92 10.37Z'/%3E%3C/svg%3E");
		--accent-color: #FF0000;										/* default: #85C742 */

		--background-color: #0F0F0F;
		--text-color: #EFEFEF;
		--dim-text-color: #88A0B8;
		--icon-color: #EFEFEF;

		--header-camera-icon-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="28" height="16" viewBox="0 0 8.3125 4.75"%3E%3Cg transform="matrix(.073077 0 0 .073301 -.80385 -2.8954)" fill="white"%3E%3Cpath fill="%23efefef" stroke-width="0" d="m11 46.967v37.867c0 10.756 8.575 19.467 19.163 19.467h55.65c3.9375 0 7.175-3.2889 7.175-7.2889v-37.956c0-10.756-8.575-19.467-19.162-19.467h-55.65c-3.9375 0-7.175 3.2-7.175 7.1111zm88.375 42.133 15.4 13.689c2.45 2.2222 6.3 1.9556 8.4875-0.53333 0.9625-1.1556 1.4875-2.5778 1.4875-4v-52.622c0-3.3778-2.7125-6.0444-5.95-6.1333-1.4875 0-2.8875 0.53333-3.9375 1.5111l-15.487 13.778c-1.3125 1.1556-2.0125 2.8444-2.0125 4.6222v25.156c0 1.6889 0.7875 3.3778 2.0125 4.5333z"/%3E%3C/g%3E%3C/svg%3E');
		--header-icon-color: #DFDFDF;
		--header-icon-hover-color: #F5F5F5;
		--header-background-color: #1A1A1A;
		--header-height: 56px;

		--search-background-color: #0F0F0F;
		--search-outline-color: #2F2F2F;
		--search-placeholder-color: #898989;

		--menu-background-color: #1A1A1A;
		--menu-text-color: #EFEFEF;
		--menu-icon-color: #EFEFEF;

		--chat-box-background-color: #0F0F0F;
		--chat-box-border-color: #2F2F2F;
		--chat-box-header-color: #EFEFEF;
		--chat-box-username-color: #DFDFDF;
		--chat-box-message-color: #EFEFEF;

		--chat-box-unread-text-color: #000;
		--chat-box-unread-background-color: #CFCFCF;
		--chat-box-unread-background-hover-color: #EFEFEF;

		--chat-msg-background-color: #0F0F0F;
		--chat-msg-text-color: #EFEFEF;
		--chat-msg-placeholder-color: #898989;
		--chat-msg-border-color: #2F2F2F;
		--chat-msg-border-focused-color: #4F4F4F;

		--box-background-color: #1F1F1F;
		--box-hover-background-color: #2F2F2F;

		--footer-background-color: #1A1A1A;

		--scrollbar-color: #ff0000 #990000;

	}

	html {
		background: var(--background-color);								/* default: #10212F */
		color: var(--text-color);											/* default: #061726 */
		scrollbar-color: var(--scrollbar-color) !important;							/* default: #D6E0EA #495A6A */
	}

	#logo_light,
	#logo_dark {
		display: none;
	}

	.header-logo {
		margin: 0;
		border-radius: 0;
		width: 35px;
		height: 35px;
		display: inline-block;
		content: '';
		background-color: var(--accent-color);
		mask: var(--logo-image) no-repeat no-clip;
	}

	.header-logo:after {
		margin: 0;
		border-radius: 0;
		width: 105px;
		height: 35px;
		display: inline-block;
		margin-left: 35px;
		content: '';
		background-image: var(--logo-image);
		background-position: -35px center;
	}

	/* Footer Icon */
	.foot__logo {
		background-color: var(--accent-color);
		background-image: none;
		mask: var(--logo-image) -3px center;
	}

	/* De-Emphasized Text */
	.u-deemphasized {
		color: #9A9A9A;
	}

	/* Header */
	.header {
		height: var(--header-height);											/* default: 5rem (70px) */
		background: var(--header-background-color);								/* default: #061726 */
		box-shadow: unset;
	}

	.header:hover {
		background: rgba(255, 255, 255, 0.1);
	}

	/* Header :: Main Menu :: Icon */
	.main-menu-close, .main-menu-open {
		stroke: var(--header-icon-color);										/* default: #D6E0EA */
	}

	.main-menu-close:hover, .main-menu-open:hover {
		stroke: var(--header-icon-hover-color);									/* default: #F3F5F8 */
	}

	/* Header :: Search Form */
	.header-search {
		background: var(--search-background-color);								/* default: #1F2E3C */
		border-color: var(--search-background-color);							/* default: #1F2E3C */
	}

	/* Header :: Search Form (focus-within) */
	.header-search:focus-within {
		box-shadow: 0 0 0 1px var(--search-outline-color);						/* default: #4D5A69 */
	}

	/* Header :: Search :: Field :: Placeholder */
	.header-search-field::placeholder{
		color: var(--search-placeholder-color);									/* default: #73899E */
	}

	/* Header :: Search :: Field :: Text */
	.header-search-select, .header-search-field {
		color: var(--text-color);												/* default: #D6E0EA */
	}

	/* Header :: Search :: Submit Icon */
	.header-search-icon {
		stroke: var(--icon-color);												/* default: #D6E0EA */
	}

	/* Header :: Camera Menu Icon -- */
	.header-upload > svg {
		display: none;
	}

	/* Header :: Camera Menu Icon -- */
	.header-upload {
		width: 28px;
		height: 16px;
		margin: 0 2rem 0 0;
		padding: 0;
		border-radius: 0;
		display: inline-block;
		content: '';
		background-color: var(--header-icon-color);
		-webkit-mask: var(--header-camera-icon-image) no-repeat center;
		mask: var(--header-camera-icon-image) no-repeat center;
	}

	.header-upload:hover {
		background-color: var(--header-icon-hover-color);
	}

	/* Header :: User Menu Image -- */
	i.user-image--img {
		border-color: var(--header-background-color);							/* default: #344453 */
		background-color: transparent;											/* default: #1F2E3C */
	}

	/* Dropdown Menu Container */
	.navs, #main-menu {
		top: var(--header-height);												/* default: 5rem (70px) */
	}

	/* Dropdown Menu */
	.hover-menu, #main-menu {
		color: var(--text-color);												/* default: #D6E0EA */
		background: var(--menu-background-color);								/* default: #1A2A37 */
	}

	/* Dropdown Menu :: Group Heading */
	.main-menu-heading {
		color: var(--text-color);												/* default: #F3F5F8 */
		border-color: #2F2F2F;													/* default: #4D5A69 */
	}

	/* Dropdown Menu :: Item (hover) :: Icon */
	.main-menu-item:hover:not(.main-menu-item--active) > .main-menu-icon {
		stroke: #D6E0EA;														/* default: #D6E0EA */
		color: #D6E0EA;															/* default: #D6E0EA */
	}

	/* Dropdown Menu :: Item (hover) :: Text */
	.main-menu-item:not(.main-menu-item--active):hover, .cmi:not(.cmi--active):hover, .cmi:not(.cmi--active):focus-visible {
		background: #1F2E3C;													/* default: #1F2E3C */
		color: #F3F5F8;															/* default: #F3F5F8 */
	}

	/* Dropdown Menu :: Item :: Icon */
	.main-menu-icon {
		stroke: var(--menu-icon-color);											/* default: #88A0B8 */
		color: var(--menu-icon-color);											/* default: #88A0B8 */
	}

	.hover-menu a {
		color: var(--menu-text-color);											/* default: #1F2E3C */
	}

	/* Dropdown Menu :: Theme Group */
	.js-theme-option-group {
		display: none !important;
	}

	/* Main Content */
	main {
		background: var(--background-color);									/* default: #10212F */
		margin-top: var(--header-height);										/* default: 5rem (70px) */
	}

	/* Footer */
	.foot {
		background: var(--footer-background-color);							/* default: #061726 */
		color: var(--text-color);											/* default: #D6E0EA */
		box-shadow: 0 -1px 0 var(--footer-background-color);				/* default: #061726 */
	}

	/* Ratings Bar */
	.rating-bar__fill {
		background: var(--accent-color);
	}

	/* Verification Badge */
	.verification-badge-icon > path {
		fill: var(--accent-color);
	}

}